
<h1 class="font-bold text-4xl">Book a treatment</h1>

<div class="main">
    <div class="treatments py-20">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 text-left">
            {{#each treatments}}
                <div class="card w-full max-w-sm rounded-md overflow-hidden shadow-lg m-1 content-center" style="margin-left: 2rem">
                    <div class="py-4 border-2 bg-[#E5E5E5] text-2xl p-4">
                        <strong>
                            {{treatment_type}}
                        </strong>
                    </div>
                    
                    <div class="py-4 p-4">
                        <strong>
                            R {{price}}.00
                        </strong>
                    </div>

                    <label for="radio" class="w-6 h-6 p-4">
                        <input name="treatmentCode" value="{{code}}" type="radio" class="focus:ring-2 focus:ring-[#FCA311] focus:border-[#FCA311]">
                        <span class="text-[#FCA311]">
                            <strong>
                                Book treatment
                            </strong>
                        </span>
                    </label>
                    
                </div>
            {{/each}}
        </div>
    </div>
</div>